# Q3: Data Wrangling

**Phase 4:** Data Wrangling & Transformation  
**Points: 9 points**

**Focus:** Parse datetime columns, set datetime index, extract time-based features.

**Lecture Reference:** Lecture 11, Notebook 2 ([`11/demo/02_wrangling_feature_engineering.ipynb`](https://github.com/christopherseaman/datasci_217/blob/main/11/demo/02_wrangling_feature_engineering.ipynb)), Phase 4. Also see Lecture 09 (time series).

---

## Setup

In [6]:
# Import libraries
import pandas as pd
import numpy as np
import os

# Load cleaned data from Q2
df = pd.read_csv('output/q2_cleaned_data.csv')
print(f"Loaded {len(df):,} cleaned records")

Loaded 120,394 cleaned records

---

## Objective

Parse datetime columns, set datetime index, and extract temporal features for time series analysis.

**Time Series Note:** This dataset is time-series data (sensor readings over time), unlike the lecture's event-based taxi data. You'll work with a datetime index and extract temporal features (hour, day_of_week, month) that are essential for time series analysis. See **Lecture 09** for time series operations. Use pandas datetime index properties (`.hour`, `.dayofweek`, `.month`, etc.) to extract temporal features from your datetime index.

---

## Required Artifacts

You must create exactly these 3 files in the `output/` directory:

### 1. `output/q3_wrangled_data.csv`
**Format:** CSV file
**Content:** Dataset with datetime index set
**Requirements:**
- Datetime column parsed using `pd.to_datetime()`
- Datetime column set as index using `df.set_index()`
- Index sorted chronologically using `df.sort_index()`
- **When saving:** Reset index to save datetime as column: `df.reset_index().to_csv(..., index=False)`
- All original columns preserved
- **No extra index column** (save with `index=False`)

### 2. `output/q3_temporal_features.csv`
**Format:** CSV file
**Required Columns (exact names):** Must include at minimum:
- Original datetime column (e.g., `Measurement Timestamp` or `datetime`)
- `hour` (integer, 0-23)
- `day_of_week` (integer, 0=Monday, 6=Sunday)
- `month` (integer, 1-12)

**Optional but recommended:**
- `year` (integer)
- `day_name` (string, e.g., "Monday")
- `is_weekend` (integer, 0 or 1)

**Content:** DataFrame with datetime column and extracted temporal features
**Requirements:**
- At minimum: datetime column, `hour`, `day_of_week`, `month`
- All values must be valid (no NaN in required columns)
- **No index column** (save with `index=False`)

**Example columns:**
```csv
Measurement Timestamp,hour,day_of_week,month,year,day_name,is_weekend
2022-01-01 00:00:00,0,5,1,2022,Saturday,1
2022-01-01 01:00:00,1,5,1,2022,Saturday,1
...
```

### 3. `output/q3_datetime_info.txt`
**Format:** Plain text file
**Content:** Date range information after datetime parsing
**Required information:**
- Start date (earliest datetime)
- End date (latest datetime)
- Total duration (optional but recommended)

**Example format:**
```
Date Range After Datetime Parsing:
Start: 2022-01-01 00:00:00
End: 2027-09-15 07:00:00
Total Duration: 5 years, 8 months, 14 days, 7 hours
```

---

## Requirements Checklist

- [ ] Datetime columns parsed correctly using `pd.to_datetime()`
- [ ] Datetime index set using `df.set_index()`
- [ ] Index sorted chronologically using `df.sort_index()`
- [ ] Temporal features extracted: `hour`, `day_of_week`, `month` (minimum)
- [ ] All 3 required artifacts saved with exact filenames

---

## Your Approach

1. **Parse datetime** - Convert datetime column using `pd.to_datetime()`
2. **Set datetime index** - Set as index and sort chronologically
3. **Extract temporal features** - Use datetime index properties (`.hour`, `.dayofweek`, `.month`, etc.)
4. **Save artifacts** - Remember to `reset_index()` before saving CSVs so the datetime becomes a column

---

## Decision Points

- **Datetime parsing:** What format is your datetime column? Use `pd.to_datetime()` with appropriate format string if needed: `pd.to_datetime(df[col], format='%Y-%m-%d %H:%M:%S')`
- **Temporal features:** Extract at minimum: hour, day_of_week, month. Consider also: year, day_name, is_weekend, time_of_day categories. What makes sense for your analysis?

---

## Checkpoint

After Q3, you should have:
- [ ] Datetime columns parsed
- [ ] Datetime index set and sorted
- [ ] Temporal features extracted (at minimum: hour, day_of_week, month)
- [ ] All 3 artifacts saved: `q3_wrangled_data.csv`, `q3_temporal_features.csv`, `q3_datetime_info.txt`

---

**Next:** Continue to `q4_feature_engineering.md` for Feature Engineering.

In [ ]:
### 1. `output/q3_wrangled_data.csv`
from IPython.display import Markdown, display 
# Convert datetime columns:Datetime column parsed using `pd.to_datetime()`
df['Measurement Timestamp'] = pd.to_datetime(df['Measurement Timestamp'])

# Recalculate trip_duration if needed
#df['trip_duration'] = (df['dropoff_datetime'] - df['pickup_datetime']).dt.total_seconds() / 60

# Set'Measurement Timestamp as index for datetime-based operations: using `df.set_index()` & Index sorted chronologically using `df.sort_index()`
df_ts = df.set_index('Measurement Timestamp').sort_index()

display(Markdown("#Datetime Index Set"))
display(pd.DataFrame({
    'Metric': ['Shape', 'Index range'],
    'Value': [
        f"{df_ts.shape[0]:,} rows × {df_ts.shape[1]} columns",
        f"{df_ts.index.min()} to {df_ts.index.max()}"
    ]
}))

display(Markdown("Preview:"))
display(df_ts.head())

#Save ( `output/q3_wrangled_data.csv`) using `df.reset_index().to_csv(..., index=False)
#I am saving it with index=True beacuse not saving it
#  drops the whole column causing issues in the q4
df_ts.to_csv('output/q3_wrangled_data.csv', index=True)

#Datetime Index Set

        Metric                                       Value
0        Shape                   120,394 rows × 17 columns
1  Index range  2015-04-25 09:00:00 to 2025-12-04 14:00:00

Preview:

,Station Name,Air Temperature,Wet Bulb Temperature,Humidity,Rain Intensity,Interval Rain,Total Rain,Precipitation Type,Wind Direction,Wind Speed,Maximum Wind Speed,Barometric Pressure,Solar Radiation,Heading,Battery Life,Measurement Timestamp Label,Measurement ID
Measurement Timestamp,,,,,,,,,,,,,,,,,
2015-04-25 09:00:00,63rd Street Weather Station,7.0,5.9,86,0.0,0.0,5.2,liquid,119,5.1,7.1,986.1,38.0,354.0,12.0,04/25/2015 9:00 AM,63rdStreetWeatherStation201504250900
2015-04-30 05:00:00,63rd Street Weather Station,6.1,4.3,76,0.0,0.0,2.5,none,11,7.2,13.0,989.9,4.0,354.0,11.9,04/30/2015 5:00 AM,63rdStreetWeatherStation201504300500
2015-05-22 15:00:00,Oak Street Weather Station,17.7,7.0,55,0.0,0.0,1.4,none,63,1.9,2.8,994.7,689.0,329.0,12.0,05/22/2015 3:00 PM,OakStreetWeatherStation201505221500
2015-05-22 17:00:00,Oak Street Weather Station,17.7,6.3,56,0.0,0.0,1.4,none,124,1.5,2.3,994.7,180.0,329.0,12.1,05/22/2015 5:00 PM,OakStreetWeatherStation201505221700
2015-05-22 18:00:00,Oak Street Weather Station,17.7,6.5,54,0.0,0.0,1.4,none,156,1.9,3.4,994.7,127.0,329.0,12.1,05/22/2015 6:00 PM,OakStreetWeatherStation201505221800

In [9]:


from IPython.display import Markdown, display 
#Original datetime: `Measurement Timestamp`: extract min. these temporal features:
# `hour` (integer, 0-23);
#  `day_of_week` (integer, 0=Monday, 6=Sunday);
# `month` (integer, 1-12)
# Extract various time-based features from the datetime index
df_ts['hour'] = df_ts.index.hour
df_ts['day_of_week'] = df_ts.index.dayofweek  # 0=Monday, 6=Sunday
df_ts['month'] = df_ts.index.month
df_ts['month_name'] = df_ts.index.month_name()
#Optional but recommended:
#- `year` (integer)
# `day_name` (string, e.g., "Monday")
#`is_weekend` (integer, 0 or 1)

df_ts['day_name'] = df_ts.index.day_name()
df_ts['year'] = df_ts.index.year
df_ts['is_weekend'] = df_ts['day_of_week'].isin([5, 6]).astype(int)


display(Markdown("# Time-Based Features Extracted"))
display(df_ts[['hour', 'day_of_week', 'day_name', 'month', 'month_name','is_weekend', 'year']].head(10))

#save(`output/q3_temporal_features.csv`,index =False)
df_ts.to_csv('output/q3_temporal_features.csv', index=False)

# Time-Based Features Extracted

,hour,day_of_week,day_name,month,month_name,is_weekend,year
Measurement Timestamp,,,,,,,
2015-04-25 09:00:00,9,5,Saturday,4,April,1,2015
2015-04-30 05:00:00,5,3,Thursday,4,April,0,2015
2015-05-22 15:00:00,15,4,Friday,5,May,0,2015
2015-05-22 17:00:00,17,4,Friday,5,May,0,2015
2015-05-22 18:00:00,18,4,Friday,5,May,0,2015
2015-05-22 19:00:00,19,4,Friday,5,May,0,2015
2015-05-22 20:00:00,20,4,Friday,5,May,0,2015
2015-05-22 21:00:00,21,4,Friday,5,May,0,2015
2015-05-22 22:00:00,22,4,Friday,5,May,0,2015
2015-05-22 23:00:00,23,4,Friday,5,May,0,2015

In [10]:
### 3. `output/q3_datetime_info.txt`
#Format:** Plain text file
#Content:** Date range information after datetime parsing
#Required information:**
#- Start date (earliest datetime)
# End date (latest datetime)
# Total duration (optional but recommended)

#Date Range After Datetime Parsing:
#- Start date (earliest datetime)
start_date = df_ts.index.min()
print(f"Start Date:,start_date")

# End date (latest datetime)

end_date = df_ts.index.max()
print(f"End Date:, end_date")

#**Example format:**
#Date Range After Datetime Parsing:
#Start: 2022-01-01 00:00:00
#End: 2027-09-15 07:00:00
#Total Duration: 5 years, 8 months, 14 days, 7 hours

with open('output/q3_datetime_info.txt', 'w') as f:
    f.write(f" Date Range After Datetime Parsing:\n")
    f.write(f"Start: {start_date}\n")
    f.write(f"End: {end_date}\n")
print("Date range saved")

Start Date:,start_date
End Date:, end_date
Date range saved